.App {
  background: rgb(44, 35, 93);
  background: linear-gradient(
    180deg,
    rgba(44, 35, 93, 1) 63%,
    rgba(122, 116, 156, 1) 84%,
    rgba(235, 243, 245, 1) 100%
  );
}

.nav-btn:hover {
  background-color: rgb(244, 167, 23);
}
.nav-btn {
  font-weight: 600;
}

#get-started-btn {
  background-color: rgb(244, 167, 23);
  color: azure;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 40px;
}
#get-started-btn {
  transition: transform 0.4s;
}
#get-started-btn:hover {
  transform: translateY(-8px);
}
.div-city:hover {
  background-color: rgb(244, 167, 23);
}
